In [1]:
import numpy

In [2]:
import pandas as pd

In [5]:
data= pd.read_csv("dat.csv",encoding='cp1252')

In [24]:
data.head()

,CASE_NUMBER,CASE_STATUS,VISA_CLASS,JOB_TITLE,SOC_TITLE,FULL_TIME_POSITION,TOTAL_WORKER_POSITIONS,EMPLOYER_NAME,EMPLOYER_CITY,EMPLOYER_STATE,...,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_WAGE_LEVEL,TOTAL_WORKSITE_LOCATIONS,WILLFUL_VIOLATOR,SUPPORT_H1B,STATUTORY_BASIS
0,I-200-21176-426581,Certified,H-1B,SOFTWARE APPLICATION DEVELOPER I,Software Developer,Y,1,Texas A&M University,College Station,TX,...,56389.0,NaN,Year,56389.0,Year,I,1,No,NaN,NaN
1,I-200-21176-427773,Certified,H-1B,"Advisor, Cloud Specialist",Software Developer,Y,1,Caremark LLC,Woonsocket,RI,...,122700.0,NaN,Year,108555.0,Year,III,3,No,NaN,NaN
2,I-200-21176-425956,Certified,H-1B,BUSINESS INTELLIGENCE ENGINEER II,Business Intelligence Analysts,Y,1,AMAZON.COM SERVICES LLC,SEATTLE,WA,...,120000.0,NaN,Year,77875.0,Year,II,2,No,NaN,NaN
3,I-200-21176-427514,Certified,H-1B,Software Developer,Software Developer,Y,1,"Euclid Innovations, Inc.",Charlotte,NC,...,93558.0,NaN,Year,93558.0,Year,II,2,No,Yes,"$60,000 or higher annual wage"
4,I-200-21176-426177,Certified,H-1B,Senior Software Engineer,Software Developer,Y,1,"Akamai Technologies, Inc.",Cambridge,MA,...,133900.0,160400.0,Year,133821.0,Year,NaN,1,No,NaN,NaN

In [13]:
import nltk

In [18]:
check = data['JOB_TITLE']=='Software Developer'

In [19]:
science = data['JOB_TITLE']=='DataScientist'

In [20]:
(data["JOB_TITLE"]=='Software Developer').count()

69040

In [29]:
science.count()

69040

In [33]:
data['lower_jobtitle'] = data['JOB_TITLE'].apply(lambda x: x.lower())

In [37]:
sub ='software'
 
# start var
start = 0
 
# creating and passing series to new column
data["new"]= data["lower_jobtitle"].str.find(sub, start)
 
# display
data['new']

0        0
1       -1
2       -1
3        0
4        7
        ..
69035    0
69036   -1
69037    0
69038    0
69039   -1
Name: new, Length: 69040, dtype: int64